<template name="addProject">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Projekt
                <small>Dodaj swój projekt</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <form class="add-project">
                <div class="form-group">

                    <input type="text" name="title" placeholder="Wpisz tytul projektu..." class="form-control required">

                </div>
                <div class="form-group">
                    <label for="deadline">Data wykonania</label>
                    <input id="deadline" type="date" name="dateend" placeholder="Wybierz czas wykonania..." class="form-control required">

                </div>

                <div class="form-group">
                    <label for="userchose">Wybierz uzytkownika:</label>
                    <select name="users" id="userchose" class="form-control" multiple>
                        {{#each users}}
                            {{>usersPosible}}
                        {{/each}}
                    </select>

                </div>
                <div class="form-group">
                    <textarea class="form-control required" name="text" rows="20"></textarea>

                </div>

                <input type="submit" class="btn btn-primary">
            </form>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

</template>


<template name="usersPosible">
    <option value="{{_id}}">{{username}}</option>
</template>