<template name="listProject">
    <li class="treeview">
        <a href="#"><i class="fa fa-list-alt"></i> <span>Lista projektow</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            {{#each project}}
                {{>projectObject}}
            {{/each}}
        </ul>
    </li>
</template>


<template name="projectObject">
    <li><a href="/user/show/project/{{_id}}">{{title}}</a></li>
</template>
