<template name="projectPeople">
    <div class="col-xs-12">
        <div class="info-box">
            {{#with userFind}}
                <span class="info-box-icon bg-green"><i class="fa fa-user-secret"></i></span>
                    <span class="info-box-right bg-red"><i class="fa fa-trash-o"></i></span>
                    <div class="info-box-content">
                    <span class="info-box-text"><a href="/user/profile/{{_id}}">{{username}}</a> </span>
                </div><!-- /.info-box-content -->
            {{/with}}

        </div><!-- /.info-box -->
    </div><!-- /.col -->
</template>