<template name="showproject">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Projekt

            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
            {{#each projectDesc}}
                {{>project}}
            {{/each}}

                {{>listtask}}

            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->


</template>


<template name="project">
    <div class="col-md-6">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title project-title">
                    {{#if editinTitle}}
                        <input class="form-control col-md-12" name="title-text" value="{{title}}">
                    {{else}}
                        {{title}}
                    {{/if}}
                </h3>
            </div><!-- /.box-header -->
            <div class="box-body text-center project-text">
                {{#if editingKey}}

                    <textarea name="body" class="form-control">{{text}}</textarea>
                {{else}}
                    {{text}}

                {{/if}}
            </div><!-- /.box-body -->
        </div><!-- /.box -->
        <hr>
        <div class="box box-solid">
            <div class="box-header with-border" >
                <h3 class="box-title">{{test}}Osoby przypisane do projektu</h3>
            </div><!-- /.box-header -->
            <div class="box-body text-center">
                {{#each forUsers}}
                        {{>projectPeople}}
                {{/each}}

                {{#if usersFind}}
                <form class="addNewPeople">
                    <div class="input-group">
                        <select class="form-control user-project">
                            {{#each usersFind}}
                                <option value="{{_id}}">{{username}}</option>
                            {{/each}}
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-primary add-to-project">Przypisz</button>
                        </span>
                    </div>

                </form>
                {{/if}}
            </div>

        </div>
        <hr>
        <div class="box box-solid">
            <div class="box-header with-border" >
                <h3 class="box-title">Dodaj Zadanie</h3>
            </div><!-- /.box-header -->
            <div class="box-body text-center">
        {{>addnewtask}}
                </div>

        </div>
    </div>
</template>