.info-box-right{
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    height: 90px;
    width: 90px;
    text-align: center;
    float: right;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}

.bootstrap-tagsinput
{
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    width: 100%;
}

.slider-selection{
    background: #00ca6d;
}
.slider-track{
    background: #e3000f;
}

.slider.slider-horizontal{
    width: 50% !important;
    margin-right: 10px!important;
}

.error{
    color: #c23321;
}