<template name="addnewtask">


            <form class="add-task">


                <div class="form-group">
                    <input type="text" name="title" placeholder="Wpisz tytul zadania..." class="form-control required">

                </div>
                <div class="form-group">
                    <input type="date" name="dateend" placeholder="Wybierz czas wykonania..." class="form-control required">

                </div>

                <div class="form-group">
                    <label for="userchose">Wybierz uzytkownika:</label>
                    <select name="users" id="userchose" class="form-control" multiple>
                        {{#each users}}
                            {{>usersPosible}}
                        {{/each}}
                    </select>

                </div>
                <div class="form-group">
                    <textarea class="form-control required" name="text" rows="20"></textarea>

                </div>

                <input type="submit" class="btn btn-primary">
            </form>



</template>