<template name="latestTaskUpdated">
    <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Ostatnio aktualizowane zadania</h3>
        <ul class="control-sidebar-menu">
            {{#each tasks}}
                {{>latestTaskUpdatedList}}
            {{/each}}
        </ul><!-- /.control-sidebar-menu -->

    </div><!-- /.tab-pane -->
</template>


<template name="latestTaskUpdatedList">
    <li>
        <a href="javascript::;">
            <h4 class="control-sidebar-subheading">
                {{slicer title 20}}
                <span class="label label-danger pull-right">{{perecnateg}}% </span>
            </h4>
            <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: {{perecnateg}}%"></div>
            </div>
        </a>
    </li>
</template>