<template name="listtask">
    <div class="col-md-6">
        <!-- The time line -->
        <ul class="timeline">
            <!-- timeline time label -->
           {{#each taski}}
               {{>onetask}}
           {{/each}}
            <!-- END timeline item -->
            <!-- timeline item -->

            <!-- END timeline item -->
            <!-- timeline item -->
            <!-- END timeline item -->
            <li>
                <i class="fa fa-clock-o bg-gray"></i>
            </li>
        </ul>
    </div>
</template>


<template name="onetask">
    {{#if checkNewDate}}
            <li class="time-label">
                          <span class="{{timetoend}}">
                            {{formatDate dueDate}}
                          </span>
            </li>
    {{/if}}
    <!-- /.timeline-label -->
    <!-- timeline item -->
    <li class="time-line-animation" style="display: none;">
        <i class="fa fa-tasks bg-blue"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i>{{formatDate createdAt}} </span>
            <h3 class="timeline-header">{{title}}</h3>
            <div class="timeline-body">
                {{text}}
            </div>
            <div class="timeline-footer">



                    {{#each forUsers}}
                        {{> forUsersTemplate}}
                    {{/each}}
            </div>
        </div>
    </li>
</template>

<template name="forUsersTemplate">
    <a class="btn btn-success btn-xs" href="/user/profile/{{this}}">{{userInitials this}}</a>
</template>