<template name="menuTop">
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            {{>logged}}


            <ul class="sidebar-menu">
                <li class="header">Menu</li>
                <!-- Optionally, you can add icons to the links -->

                <li class="active"><a href="/user/addPost"><i class="fa fa-newspaper-o"></i> <span>Dodaj Post</span></a></li>
                <li><a href="/user/addProject"><i class="fa fa-bookmark"></i> <span>Dodaj Projekt</span></a></li>
                <li><a href="/user/yourTasks"><i class="fa fa-tasks"></i> <span>Twoje zadania</span></a></li>
                <li><a href="/user/allFiles"><i class="fa fa-folder"></i> <span>Wszystkie Pliki</span></a></li>
                {{>listProject}}
            </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
</template>