<template name="latestTask">

    <li class="dropdown messages-menu">
        <!-- Menu toggle button -->
        <a href="#" class="dropdown-toggle " data-toggle="dropdown">
            <i class="fa fa-tasks"></i>
            <span class="label label-warning message-menu-inid">{{counter}}</span>
        </a>
        <ul class="dropdown-menu">
            <li class="header">{{counter}} z wczoraj</li>
            <li>
                <!-- inner menu: contains the messages -->
                <ul class="menu">
                    {{#each taski}}
                        {{> latestTaskWidget}}
                    {{/each}}
                </ul><!-- /.menu -->
            </li>
            <li class="footer"><a href="/">Zobacz pozostałe zadania</a></li>
        </ul>
    </li>
</template>



<template name="latestTaskWidget">
    <li><!-- start message -->
        <a href="/user/yourTasks">
            <div class="pull-left">
                <!-- User Image -->
                <i class="fa fa-tasks" style="font-size: 20px;"></i>
            </div>
            <!-- Message title and timestamp -->
            <h4>
                {{slicer title 12}}
                <small><i class="fa fa-clock-o"></i> {{formatDate createdAt}}</small>
            </h4>
            <!-- The message -->
            <p>{{slicer text 10}}</p>
        </a>
    </li><!-- end message -->

</template>