<template name="logged">
    {{#if currentUser}}

        <div class="user-panel">
            <div class="pull-left image">
                <img src="/img/avatar5.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{currentUser.username}}</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
    {{else}}
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/img/avatar5.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Blad!!</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

    {{/if}}
</template>