<template name="addpost">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Post
                <small>Dodaj swój post</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <form class="new-post">
                <div class="form-group">
                    <input type="text" name="title" placeholder="Wpisz tytul postu..." class="form-control">

                </div>
                <div class="form-group">
                    <textarea class="form-control" name="text" rows="20"></textarea>

                </div>

                <input type="submit" class="btn btn-primary">
            </form>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

</template>