<template name="editPost">

{{# each posts}}

        {{>editForm }}

{{/each}}


</template>


<template name="editForm">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Edytuj Post
                <small>Edytuj Wpis</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <form class="edit-post">
                <div class="form-group">
                    <input type="text" name="title" placeholder="" value="{{title}}" class="form-control">

                </div>
                <div class="form-group">
                    <textarea class="form-control" name="text" rows="20">{{text}}</textarea>

                </div>

                <input type="submit" class="btn btn-primary">
            </form>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

</template>