<template name="posts">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Posty
                <small>Lista Aktualności</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary" style="margin-bottom: 10px;" href="/">Back</a>
                    {{#if Template.subscriptionsReady}}
                        {{#each postRender}}
                            {{> post}}
                        {{/each}}
                    {{/if}}
                </div>
            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

</template>