<template name="post">
    <div class="panel panel-default">
        <div class="panel-heading">{{#if checkAuthor _id}} <a href="/user/editPost/{{_id}}" style="float: right" class="fa fa-edit"></a>{{/if}}<a href="/user/show/post/{{_id}}">{{title}}</a> <div class="right">{{formatDate createdAt}}  </div> </div>
        <div class="panel-body">{{text}}</div>
    </div>
</template>