<template name="postlist">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Posty
                <small>Lista Aktualności</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    {{#each posts}}
                        {{>post}}
                    {{/each}}
                </div>
            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

</template>