<template name="listTaskProject">
    <div class="box box-primary tab-pane" id="tab_{{_id}}">
        <div class="box-header with-border">
            <h3 class="box-title">{{title}} >> <a href="/user/show/project/{{_id}}" class="btn btn-primary">Przejdź do widoku projektu</a> </h3>
            <div class="box-tools pull-right">

            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                    <tbody>

                    {{#each tasks}}
                        {{>listOneTask}}
                    {{/each}}

                    </tbody>
                </table><!-- /.table -->
            </div><!-- /.mail-box-messages -->
        </div><!-- /.box-body -->
    </div><!-- /. box -->
</template>


<template name="listOneTask">
    <div class="modal fade" id="myTask{{_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{text}}</p>
                   <form class="task-form"><input type="text" value="" name="taskValue" class="slider form-control" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-value="{{completitionPercent}}"  > <button class="btn btn-primary" type="submit">Aktualizuj</button><br><span class="info-box-object"></span> </form>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary aktual" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <tr>


        <td class="mailbox-name">{{slicer title 20}}</td>

        <td class="mailbox-attachment">{{# if isCompleted}}<span class="label label-success"><i class="fa fa-battery-4"></i></span>{{else}} <span class="label label-danger"><i class="fa fa-battery-0"></i></span> {{/if}} </td>
        <td class="mailbox-date">{{formatDate dueDate}}</td>
        <td class="mailbox-star"><i class="fa fa-cogs" data-toggle="modal" data-target="#myTask{{_id}}" style="cursor: pointer"></i></td>

    </tr>
</template>
