<template name="userProfile">

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
               Profil uzytkownika
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" src="/img/avatar5.png" alt="User profile picture">
                            <h3 class="profile-username text-center">{{userProfiler.username}}</h3>
                            <p class="text-muted text-center">Software Engineer</p>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->

                    <!-- About Me Box -->

                </div><!-- /.col -->
                <div class="col-md-9">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#files" data-toggle="tab">Pliki</a></li>
                            <!--{{#if isUser}}-->
                                <!--<li><a href="#settings" data-toggle="tab">Ustawienia</a></li>-->
                            <!--{{/if}}-->
                        </ul>
                        <div class="tab-content">
                            <div class="active tab-pane" id="files">
                                <!-- Post -->
                                <div class="row">
                                    {{#each userOwnFiles}}
                                        {{>userFiles}}
                                    {{/each}}
                                </div>
                                <hr>

                                <div class="clearfix ">

                                </div>
                                {{#if isUser}}
                                <h3>Dodaj nowy plik</h3>
                                {{>upload_bootstrap multiple=true callbacks=myCallbacks formData=customFormData }}
                                <label for="userchose">Kto może widzieć?</label>
                                    <select name="usersFileAllowed" id="userchose" class="form-control" multiple>
                                    {{#each users}}
                                        {{>usersPosible}}
                                    {{/each}}
                                </select>
                                {{/if}}

                            </div><!-- /.tab-pane -->
                            {{#if isUser}}
                                {{>useredit }}
                            {{/if}}
                        </div><!-- /.tab-content -->
                    </div><!-- /.nav-tabs-custom -->
                </div><!-- /.col -->
            </div><!-- /.row -->

        </section><!-- /.content -->
    </div>
</template>