<template name="useredit">
    <div class="tab-pane" id="settings">
        <form class="form-horizontal" id="user-data">
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Nick</label>
                <div class="col-sm-10">
                    <input type="text" name="nick" class="form-control" id="inputName" placeholder="Nick" value="{{userData.nick}}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" value="{{currentUser.username}}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Stanowisko</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Stanowisko" name="position" value="{{currentUser.position}}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputExperience" class="col-sm-2 control-label">Adres Zamieszkania</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="inputExperience" placeholder="Adres Zamieszkania" name="address">{{currentUser.address}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputSkills" class="col-sm-2 control-label">Umiejętnosci</label>
                <div class="col-sm-10">
                    <input class="form-control" id="skills" name="skills" type="text"
                           placeholder="Umiejętności"
                           autocomplete="off" spellcheck="off"
                           />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
            </div>
        </form>
    </div><!-- /.tab-pane -->
</template>