<template name="loginpage">
    <body class="hold-transition login-page">
    <body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a><b>Menadzer</b> Zadań</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Zaloguj się do serwisu</p>
            <div class="form-group has-error">
                <span class="help-block"></span>

            </div>
            <form class="login-form">
                <div class="form-group has-feedback">
                    <input type="text" name="user" class="form-control" placeholder="Login...">

                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="password" class="form-control" placeholder="Haslo...">

                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Zaloguj</button>
                    </div><!-- /.col -->
                </div>
            </form>

            <a href="/register" class="text-center">Zarejetruj sie w serwisie</a>

        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

</body>
    </body>

</template>


<template name="register">

    <body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a><b>Menadzer</b> Zadań</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Rejestracja</p>
            <div class="form-group has-error">
                <span class="help-block"></span>

            </div>
            <form class="register-form">
                <div class="form-group has-feedback">
                    <input type="text" placeholder="Login..." name="user" class="form-control">

                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="password" placeholder="Haslo..." class="form-control">

                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Zarejestruj</button>
                    </div><!-- /.col -->
                </div>
            </form>

        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->


    </body>
</template>


