<template name="userData">

<li class="dropdown user user-menu">
    <!-- Menu Toggle Button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <!-- The user image in the navbar-->
        <img src="/img/avatar5.png" class="user-image" alt="User Image">
        <!-- hidden-xs hides the username on small devices so only the image appears. -->
        <span class="hidden-xs">{{currentUser.username}}</span>
    </a>
    <ul class="dropdown-menu">
        <!-- The user image in the menu -->
        <li class="user-header">
            <img src="/img/avatar5.png" class="img-circle" alt="User Image">
            <p>
                {{currentUser.username}} - Web Developer
                <small>Zarejestrowany: {{formatDate createdAt}}</small>
            </p>
        </li>

        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a href="/user/profile/{{currentUser._id}}" class="btn btn-default btn-flat">Profil</a>
            </div>
            <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat logout">Wyloguj</a>
            </div>
        </li>
    </ul>
</li>

</template>