<template name="allFiles">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Pliki
                <small>wszystkie pliki udostępnione przez użytkowników</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="col-md-12">

                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body ">
                        <div class="row">
                            {{#each files}}
                                {{>userFiles}}
                            {{/each}}
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->

                <!-- About Me Box -->

            </div><!-- /.col -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>