<template name="latestFiles">
    <div class="tab-pane" id="control-sidebar-files-tab">

        <h3 class="control-sidebar-heading">Ostatnie udostępnione pliki</h3>
        <ul class="control-sidebar-menu">
           {{#each files}}
            {{>filesListMenu}}
           {{/each}}
        </ul><!-- /.control-sidebar-menu -->

    </div><!-- /.tab-pane -->
</template>



<template name="filesListMenu">
    <li>
        <a href="/upload/{{path}}" download="{{name}}" >

            <h4 class="control-sidebar-subheading">


                {{name}}
                <span  class="label label-success"><i class="fa fa-download"></i> </span>
            </h4>
            <a href="/user/profile/{{userID}}" >-- {{userInitials userID}} </a>

        </a>
    </li>
</template>

