
<template name="userFiles">

    {{#if author}}
    <div class="modal fade" id="myModal{{_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Dostep dla uzytkownikow</h4>
                </div>
                <div class="modal-body">
                    <select name="usersFile" id="userchose" class="form-control" multiple>
                        {{#each users}}
                            {{>usersEdition}}
                        {{/each}}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary saveUsersAllowed" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box {{extension.bg}}"  data-toggle="modal" data-target="#myModal{{_id}}">
            <div class="inner">

                <p>{{name}}</p>
            </div>
            <div class="icon">
                <i class="fa {{extension.fa}}"></i>
            </div>
            <a href="/upload/{{path}}" download="{{name}}" class="small-box-footer">Pobierz<i class="fa fa-arrow-circle-right"></i></a>
        </div>

    </div>
</template>


<template name="usersEdition">

    <option value="{{_id}}" {{isChckeded}}>{{username}}</option>
</template>